

.form-view > label {
  padding: 0px 0px 10px;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.form-view input{
  margin-left: 1rem;
  width:89%;
}

#add-form {
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
  width: fit-content;
  margin: 2rem auto ;
  padding: 1rem;
  background-color: rgba(30, 143, 255, 0.247);
  width: 80%;
}
