.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}
.categories-list li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}
.categories-list li img{
  margin-left: 1rem;
}


.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  border: 2px transparent solid;
  text-align: left;
  margin: 7px;
  border-radius: 3px;

  background-color: rgba(255, 255, 255, 0.288);
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}
.Question-status .delete{
  cursor: pointer;
}

.Question {
  font-size: 21px;
  width: 100%;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
}


span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
}

img.delete {
  width: 20px;
}