.quiz-play-holder {
    width: fit-content;
    text-align: center;
    margin: 2rem auto ;
    background-color: rgba(30, 143, 255, 0.247);
    border-radius: 7px;
    padding: 1rem;
    width: 80%;
    
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
    cursor: pointer;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.589);
    border-bottom: .3px solid black;
}

.play-category{
    margin-bottom: 1rem;
    display: flex;
}
.play-category:hover {
    color: dodgerblue;
}
.play-category-flex{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 44%;
}
.play-category >span{
    margin-right: .5rem;
}

.button {
    width: 107px !important;
    margin-top: 5px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
    align-self: center;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    font-size: 13px !important;
}
.button:hover{
    background-color: rgba(4, 32, 75, 0.616);
    color: white;
    border-radius: 5px;
  }

div.button {
    margin-top: 20px;
    margin-left: calc(50% - 50px);
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.categories-list-li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories-list-li:hover{
    background-color: rgba(255, 255, 255, 0.288);
}